1. Write a function named is_vowel. It should accept a string as input and use a regular expression to determine if the passed string is a vowel. While not explicity mentioned in the lesson, you can treat the result of re.search as a boolean value that indicates whether or not the regular expression matches the given string.

In [1]:
import pandas as pd
import numpy as np
import re

In [2]:
def is_vowel(string):
    return bool(re.search(r'^[aeiouAEIOU]$', string))

In [3]:
is_vowel('aaa')

False

2. Write a function named is_valid_username that accepts a string as input. A valid username starts with a lowercase letter, and only consists of lowercase letters, numbers, or the _ character. It should also be no longer than 32 characters. The function should return either True or False depending on whether the passed string is a valid username.

In [4]:
# starts with a lowercase letter
# is only lowercase letters, numbers, or _
# should be no longer than 32 characters
# return a boolean

def is_valid_username(string):
    regexp = r'^[a-z][a-z0-9_]{,31}$'
    return bool(re.search(regexp, string))

In [5]:
is_valid_username('codeup_train') == True

True

In [6]:
is_valid_username('1codeup') == True

False

In [7]:
is_valid_username('2Codeup') == True

False

3. Write a regular expression to capture phone numbers.

- (210) 867 5309
- +1 210.867.5309
- 867-5309
- 210-867-5309

In [8]:
# Seven digits w/ no other characters
re.search(r'\d{7}', '1234567')

In [9]:
# Match 3 digits then a hyphen, then 4 digits
re.search(r'\d{3}-\d{4}', '123-1234')

In [10]:
# 3 digits then -, ., or ' ' then 4 digits
re.search(r"\d{3}[-. ]\d{4}", '123-1234')

In [11]:
# Using \D for any non-digit
re.search(r"\d{3}\D?\d{4}", '123 4567')

In [12]:
re.search(r"\(?\d{3}\)?.?\d{3}.?\d{4}", "210-867-5309")

In [13]:
re.search(r"(\+?\d+)?.?(\(?\d{3}\)?)?.?\d{3}.?\d{4}", "(210) 867 5309")

In [14]:
# Alternative method using DF
phone_regex = re.compile(
'''
^
(?P<country_code>\+\d+)?\D*?
(?P<area_code>\d{3})?\D*?
(?P<exchange_code>\d{3})\D*?
(?P<line_number>\d{4})
''', re.VERBOSE
)

In [15]:
df = pd.DataFrame()
df['number'] = [
    '(210) 867 5309',
    '+1 210.867.5309', 
    '867-5309',
    '210-867-5309', 
    '2108675309',
]

In [16]:
# Extract turns named capture groups into dataframe columns
# NaNs for no match
df.number.str.extract(phone_regex)

  country_code area_code exchange_code line_number
0          NaN       210           867        5309
1           +1       210           867        5309
2          NaN       NaN           867        5309
3          NaN       210           867        5309
4          NaN       210           867        5309

In [17]:
df = pd.concat([df, df.number.str.extract(phone_regex)], axis=1)

In [18]:
df

            number country_code area_code exchange_code line_number
0   (210) 867 5309          NaN       210           867        5309
1  +1 210.867.5309           +1       210           867        5309
2         867-5309          NaN       NaN           867        5309
3     210-867-5309          NaN       210           867        5309
4       2108675309          NaN       210           867        5309

4. Use regular expressions to convert the dates below to the standardized year-month-day format.

In [19]:
dates = [
    "02/04/19",
    "02/05/19",
    "02/06/19",
    "02/07/19",
    "02/08/19",
    "02/09/19",
    "02/10/19"
]

In [20]:
df = pd.DataFrame({'original': dates})

In [21]:
regexp = re.compile(r'''
(?P<month>\d{2})/
(?P<day>\d{2})/
(?P<year>\d{2})
''', re.VERBOSE)

In [22]:
df = pd.concat([df, df.original.str.extract(regexp)], axis=1)

In [23]:
df['new_format'] = df.year + '/' + df.month + '/' + df.day

In [24]:
df

   original month day year new_format
0  02/04/19    02  04   19   19/02/04
1  02/05/19    02  05   19   19/02/05
2  02/06/19    02  06   19   19/02/06
3  02/07/19    02  07   19   19/02/07
4  02/08/19    02  08   19   19/02/08
5  02/09/19    02  09   19   19/02/09
6  02/10/19    02  10   19   19/02/10

5. Write a regex to extract the various parts of these logfile lines:
- GET /api/v1/sales?page=86 [16/Apr/2019:193452+0000] HTTP/1.1 {200} 510348 "python-requests/2.21.0" 97.105.19.58

- POST /users_accounts/file-upload [16/Apr/2019:193452+0000] HTTP/1.1 {201} 42 "User-Agent: Mozilla/5.0 (X11; Fedora; Fedora; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/73.0.3683.86 Safari/537.36" 97.105.19.58

- GET /api/v1/items?page=3 [16/Apr/2019:193453+0000] HTTP/1.1 {429} 3561 "python-requests/2.21.0" 97.105.19.58

In [25]:
lines = [
    '''GET /api/v1/sales?page=86 [16/Apr/2019:193452+0000] HTTP/1.1 {200} 510348 "python-requests/2.21.0" 97.105.19.58''',
    '''POST /users_accounts/file-upload [16/Apr/2019:193452+0000] HTTP/1.1 {201} 42 "User-Agent: Mozilla/5.0 (X11; Fedora; Fedora; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/73.0.3683.86 Safari/537.36" 97.105.19.58''',
    '''GET /api/v1/items?page=3 [16/Apr/2019:193453+0000] HTTP/1.1 {429} 3561 "python-requests/2.21.0" 97.105.19.58'''
    ]

In [26]:
lines

['GET /api/v1/sales?page=86 [16/Apr/2019:193452+0000] HTTP/1.1 {200} 510348 "python-requests/2.21.0" 97.105.19.58',
 'POST /users_accounts/file-upload [16/Apr/2019:193452+0000] HTTP/1.1 {201} 42 "User-Agent: Mozilla/5.0 (X11; Fedora; Fedora; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/73.0.3683.86 Safari/537.36" 97.105.19.58',
 'GET /api/v1/items?page=3 [16/Apr/2019:193453+0000] HTTP/1.1 {429} 3561 "python-requests/2.21.0" 97.105.19.58']

In [29]:
# Creating the regex 'thing' (object?) and then finding the match for it in the first index of lines
x = re.compile('''
\}\s(?P<bytes>\d+)\s\"
''', re.VERBOSE)
match = re.search(x, lines[0])

In [30]:
match

In [32]:
# Groupby the match (regex) object
match.group('bytes')

'510348'

In [33]:
lines

['GET /api/v1/sales?page=86 [16/Apr/2019:193452+0000] HTTP/1.1 {200} 510348 "python-requests/2.21.0" 97.105.19.58',
 'POST /users_accounts/file-upload [16/Apr/2019:193452+0000] HTTP/1.1 {201} 42 "User-Agent: Mozilla/5.0 (X11; Fedora; Fedora; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/73.0.3683.86 Safari/537.36" 97.105.19.58',
 'GET /api/v1/items?page=3 [16/Apr/2019:193453+0000] HTTP/1.1 {429} 3561 "python-requests/2.21.0" 97.105.19.58']

In [35]:
log_pattern = re.compile(r"""
(?P<method>GET|POST) 
\s
(?P<path>/[/\w\-\?=]+)
\s
\[(?P<timestamp>.+)\]
\s
(?P<http_version>HTTP/\d+\.\d+)
\s
\{(?P<status_code>\d+)\}
\s
(?P<bytes>\d+)
\s
"(?P<user_agent>.+)"
\s
(?P<ip>\d{1,3}\.\d{1,3}\.\d{1,3}\.\d{1,3})
$
""", re.VERBOSE)

In [36]:
rows = [re.search(log_pattern, line).groupdict() for line in lines]
rows

[{'method': 'GET',
  'path': '/api/v1/sales?page=86',
  'timestamp': '16/Apr/2019:193452+0000',
  'http_version': 'HTTP/1.1',
  'status_code': '200',
  'bytes': '510348',
  'user_agent': 'python-requests/2.21.0',
  'ip': '97.105.19.58'},
 {'method': 'POST',
  'path': '/users_accounts/file-upload',
  'timestamp': '16/Apr/2019:193452+0000',
  'http_version': 'HTTP/1.1',
  'status_code': '201',
  'bytes': '42',
  'user_agent': 'User-Agent: Mozilla/5.0 (X11; Fedora; Fedora; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/73.0.3683.86 Safari/537.36',
  'ip': '97.105.19.58'},
 {'method': 'GET',
  'path': '/api/v1/items?page=3',
  'timestamp': '16/Apr/2019:193453+0000',
  'http_version': 'HTTP/1.1',
  'status_code': '429',
  'bytes': '3561',
  'user_agent': 'python-requests/2.21.0',
  'ip': '97.105.19.58'}]

In [37]:
df = pd.DataFrame(rows)
df

,method,path,timestamp,http_version,status_code,bytes,user_agent,ip
0,GET,/api/v1/sales?page=86,16/Apr/2019:193452+0000,HTTP/1.1,200,510348,python-requests/2.21.0,97.105.19.58
1,POST,/users_accounts/file-upload,16/Apr/2019:193452+0000,HTTP/1.1,201,42,User-Agent: Mozilla/5.0 (X11; Fedora; Fedora; ...,97.105.19.58
2,GET,/api/v1/items?page=3,16/Apr/2019:193453+0000,HTTP/1.1,429,3561,python-requests/2.21.0,97.105.19.58

### Alternatives to 5

In [1]:
logfile_re = r'''
^(?P<method>GET|POST)
\s+
(?P<path>.*?)
\s+
\[(?P<timestamp>.*?)\]
\s+
(?P<http_version>.*?)
\s+
\{(?P<status>\d+)\}
\s+
(?P<bytes_sent>\d+)
\s+
"(?P<user_agent>.*)$
'''

lines = pd.Series([
    'GET /api/v1/sales?page=86 [16/Apr/2019:193452+0000] HTTP/1.1 {200} 510348 "python-requests/2.21.0" 97.105.19.58',
    'POST /users_accounts/file-upload [16/Apr/2019:193452+0000] HTTP/1.1 {201} 42 "User-Agent: Mozilla/5.0 (X11; Fedora; Fedora; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/73.0.3683.86 Safari/537.36" 97.105.19.58',
    'GET /api/v1/items?page=3 [16/Apr/2019:193453+0000] HTTP/1.1 {429} 3561 "python-requests/2.21.0" 97.105.19.58',
])
lines.str.extract(logfile_re, re.VERBOSE)

NameError: name 'pd' is not defined